language: node_js
node_js:
  - "9"
dist: trusty
sudo: false
cache:
  directories:
    - node_modules
script:
 - npm run full-package
 deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file: "kubernetes-monitor-view.tgz"
  skip_cleanup: true
  on:
    tags: true
