.domain-container {
  height: auto;
  padding: 15px;
}

.background-warning {
  background-color: #f1c40f
}

.background-danger {
  background-color: #c0392b;
}

.background-good {
  background-color: #27ae60
}

.title {
  font-size: 4rem;
}