<div class="background kubeMonitor">

  <div class="container-fluid">
    <button class="btn btn-default" *ngIf="tableView" (click)="tableView = !tableView">
      <span appOcticon="home" width="25" color="black"></span>
    </button>

    <div *ngIf="domainConfig.domains.length == 0 && !tableView" class="text-center">
      <h3>No domains defined</h3>
    </div>
    <div class="row" *ngIf="domainConfig.domains.length > 0 && !tableView">
      <div class="col-3" *ngFor="let domain of domainConfig.domains" (click)="selectDomain(domain)">
        <domain [domain]="domain" [statusInterval]="domainConfig.statusInterval"></domain>
      </div>
    </div>
  </div>

  <application-table #table class="container content_col" *ngIf="statusReport && tableView" [status]="statusReport" [domain]="getSelectedDomain()"
    [kubeMonitorService]="kubernetesMonitorService" [hideRegions]="hideRegions"></application-table>

  <div class="align-items-end" *ngIf="statusReport && tableView">
    <div class="float-right status-report-box" *ngIf="statusReport">
      <div *ngIf="statusReport && tableView">
        <div class="btn-group">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Unexpected namespaces ({{statusReport.unknownNamespaces.length}}) <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li class="dropdown-item" *ngFor="let namespace of statusReport.unknownNamespaces">{{namespace.clusterName}}
              - {{namespace.name}}</li>
          </ul>
        </div>
      </div>
      <div class="timestamp" *ngIf="statusReport">
        Report time: <span appOcticon="flame" color="red" *ngIf="oldTimestamp"></span> {{statusReport.timestamp | date : 'medium'}}
      </div>
    </div>
  </div>
</div>
<application-state [application]="selectedApplication()" [service]="kubernetesMonitorService"></application-state>
